 <head>
  <style>
    /* Style the select element */
.select-company {
  width:30%;%
  padding: 8px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  border: 1px solid #ccc; /* Add border for clarity */
  border-radius: 4px; /* Add border radius for rounded corners */
  background-color: #fff; /* Background color */
  cursor: pointer; /* Show pointer cursor on hover */
}

/* Style the dropdown arrow */
.select-company:after {
  content: "\25BC"; /* Unicode for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Ensure the arrow is not clickable */
}

/* Style the dropdown options */
.select-company option {
  font-size: 14px; /* Adjust font size of options */
}
.custom-radio-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.custom-radio-input:checked {
  background-color: #333;
}

.custom-radio-label {
  font-size: 1rem;
  color: #666;
}


  </style>
 </head>
 <div class="container mt-3 text-center">
    <h2>Please dont leave anything blank write N/A if not applicable</h2>
  <div class="row">
    <div class="col-lg-9 mx-auto  text-center">
<%= form_with(model: @experience , local: true) do |f|%>
   <%=f.label :role,"Select a Role:",class:"custom-radio-labe"%>
   <%= f.radio_button :role, 'Internship',class: "custom-radio-input" %> Internship
   <%= f.radio_button :role, 'Placement',class: "custom-radio-input"%> Full Time
   <br>
   <%= f.label :company_id, "Select the Company Name:",class:"custom-radio-labe"%>
 <%= f.collection_select(:company_id, Company.where(approve: true).order(:name), :id, :name, { multiple: false }, { class: "btn btn-light select-company" }) %>
</div>
</div>
</div>
<div class="row">
 <div class="col-lg-9 mx-auto">
  <div id="accordion" class="accordion shadow">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <div class="btn btn-link text-dark font-weight-bold text-uppercase collapsible-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Online Test
        </div>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p>Tell us the questions aksed in your OT and attach relevant link to refer</p>
       <%= f.text_area :OnlineTest,class: "form-control",rows: 10%>
    </div>
  </div>
  <%# tr1 %>
   <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <div class="btn btn-link text-dark font-weight-bold text-uppercase collapsible-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Technical Round 1
        </div>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <p>Tell us the flow and number and type of questions asked</p>
       <%= f.text_area :TechRound1,class: "form-control",rows: 10%>
      </div>
    </div>
  </div>
  <%# tr2 %>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <div  class="btn btn-link text-dark font-weight-bold text-uppercase collapsible-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Technical Round 2
        </div>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <p>Tell us the number and type of questions asked write N/A if not applicable and if there were more technical rounds pleae describe them here only </p>
         <%= f.text_area :TechRound2,class: "form-control",rows: 10%>
      </div>
    </div>
  </div>
  <%# hr  %>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <div class="btn btn-link text-dark font-weight-bold text-uppercase collapsible-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          HR round
        </div>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <p>Tell us in details the discussion and behavioural questions asked. Write N/A if not applicable</p>
        <%= f.text_area :HrRound,class: "form-control",rows: 10%>
      </div>
    </div>
  </div>
  <%# Preparations %>
    <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <div class="btn btn-link text-dark font-weight-bold text-uppercase collapsible-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
         Resources for Preparation
        </div>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        <p>Give rescources for preparation. Attach links of yt playlists and name of books to be reffered</p>
        <%= f.text_area :Preparations,class: "form-control",rows: 10%>
      </div>
    </div>
  </div>
   <%=f.submit class:"btn btn-primary submit-btn"%>
<%end%>
</div>
</div>
</div>

