<head>
   <style>
      .new{
        display:flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
      }
   </style>
</head>
<%=render 'error'%>
<%= render 'form'%>
<%= render 'companiesError'%>
<div class="container mt-3 mb-3 new">
   <h3>Cant find any paticular company? Please let us know</h3>
<%= form_with(scope: :companies,url: add_path  , local: true) do |f|%>
   <%=f.text_field :name,placeholder: "Name of the Company",required: true %>
   <%=f.submit "Send Suggestion",class:"btn btn-warning"%>
<%end%>
</div>