<head>
  <style>
    .like{
       position: absolute;
       right:10%;
       top:10vh;
    }
    .heart {
      width: 100px;
      height: 100px;
      background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
      background-position: 0 0;
      cursor: pointer;
      transition: background-position 1s steps(28);
      transition-duration: 0s;
      
      &.is-active {
        transition-duration: 1s;
        background-position: -2800px 0;
      }
}
.cmt{
  position: absolute;
  right:10%;
  top:20vh;
}
.cmp-name{
  text-decoration: none;
  color:black;
}
.cmp-name:hover{
  text-decoration:none;
  color:grey;
}

/* comment box styling */
@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:8px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
.del_btn{
  color: red;
}
.num_likes{
  margin-top: -2rem;
  position: relative;
  left:15px;
}
 </style>
</head>
<div class="container mt-2 text-center">
  <div class="row" style="width:500px;">
    <div class="col-lg">
      <h1 class="display-4 company-name" style="font-size: 2.5rem; margin-bottom: 10px;"><%= link_to @experience.company.name.upcase, company_path(@experience.company), class:"cmp-name", style:"text-decoration: none; color: #333;" %></h1>
            <p class="lead mb-0 role" style="font-size: 1rem; color: #666;">Role: <%if @experience.role== "Placement"%> Full Time <%else%>Internship<%end %></p>
      <p class="lead mb-0 author-name" style="font-size: 1rem; color: #666;">Posted by: <%=link_to @experience.user.name,user_path(@experience.user) %></p>
    </div>
    <div class="col mt-4">
        <div class="container">
             <% if logged_in? && current_user == @experience.user %>
               <%= link_to "Edit" ,edit_experience_path(@experience.id),class:"btn btn-dark m-2", style:"text-decoration: none; color: #fff; background-color: #333; padding: 8px 16px; border: none; border-radius: 4px;" %>
               <%= link_to "Delete" ,experience_path(@experience.id), method: :delete, data:{ confirm: "Are you sure you want to delete the experience?" }, class:"btn btn-dark", style:"text-decoration: none; color: #fff; background-color: #dc3545; padding: 8px 16px; border: none; border-radius: 4px;" %>
            <% end %>
        </div>
    </div>
  </div>
</div>


<div class="row mt-2">
 <div class="col-lg mx-auto">
<div class="container">
  <div id="accordion" class="accordion shadow" style="width:50%;">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <div class="btn btn-link text-dark font-weight-bold text-uppercase collapsible-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            Online Test
          </div>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <%=@experience.OnlineTest%>
        </div>
      </div>
      <!-- <%# tr1 %> -->
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <div class="btn btn-link text-dark font-weight-bold text-uppercase collapsible-link" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                Technical Round 1
              </div>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <%= @experience.TechRound1%>
            </div>
          </div>
        </div>
        <%# tr2 %>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <div class="btn btn-link text-dark font-weight-bold text-uppercase collapsible-link" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  Technical Round 2
                </div>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <%= @experience.TechRound2%>
              </div>
            </div>
          </div>
          <%# hr %>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <div class="btn btn-link text-dark font-weight-bold text-uppercase collapsible-link" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="false" aria-controls="collapseFour">
                    HR round
                  </div>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                  <%= @experience.HrRound%>
                </div>
              </div>
            </div>
            <%# Preparations %>
              <div class="card">
                <div class="card-header" id="headingFive">
                  <h5 class="mb-0">
                    <div class="btn btn-link text-dark font-weight-bold text-uppercase collapsible-link" data-toggle="collapse" data-target="#collapseFive"
                      aria-expanded="false" aria-controls="collapseFive">
                      Resources for Preparation
                    </div>
                  </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                  <div class="card-body">
                    <%= @experience.Preparations%>
                  </div>
                </div>
              </div>
    </div>
    </div>
   </div>
  </div>
<div class="like">
  <% if logged_in? %>
    <% if @experience.upvoted_by_users.include? current_user %>
      <%= link_to experience_upvotes_path(@experience), method: :delete, class: "heart is-active" do %>
        <div class="heart is-active"></div>
      <% end %>
    <% else %>
      <%= link_to experience_upvotes_path(@experience), method: :post, class: "heart" do %>
        <div class="heart"></div>
      <% end %>
    <% end %>
  <% end %>
  <p class="num_likes"><%=pluralize(@experience.upvoted_by_users.count,"Like")%></p>
</div>

<%# comments  %>
<div class="detailBox cmt">
    <div class="titleBox">
      <label>Comment Box</label>
    </div>
    <div class="commentBox">
        
        <p class="taskDescription">Have a healthy discussion about the questions in the experience(commnet size is limited to 250 charcters)</p>
    </div>
    <div class="actionBox">
        <ul class="commentList">
          <%@comments.each do |comment|%>
             <%@user=User.find(comment.user_id)%>
            <li>
                <div class="commenterImage">
                   <% if @user.profile_picture.attached? %>
                        <%= image_tag @user.profile_picture%>
                            <% else %>
                                <img src='https://avatar.iran.liara.run/public/boy?username=Ash' alt="profile-image" class="profile" />
                                <% end %>
                </div>
                <div class="commentText">
                    <p class=""><%= comment.content%> <% if current_user == comment.user %>
      <%= link_to "Delete", experience_comment_path(@experience, comment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn del_btn" %>
    <% end %></p> <span class="date sub-text"><%= comment.created_at%> <b><%= link_to  @user.name,user_path(@user)%></b></span>
                </div>
            </li>
          <%end%>
        </ul>
<%if logged_in?%>
<%= form_with(model: [@experience, @experience.comments.build], url: experience_comments_path(@experience), method: :post, local: true, class: "form-inline") do |f| %>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= f.text_field :content, placeholder: "Add a comment", class: "form-control", style: "width: 100%;" %>
        <!-- Adjust the width as needed -->
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.submit "Add", class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
<%end%>

    </div>
</div>
