<head>
  <style>
    .num{
      width:20px;
      height: 20px;
      background: red;
      border-radius: 50%;
      margin-left: -1rem;
      margin-top:-2rem;
    }
  </style>
</head>
<nav class="navbar navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Empiria" ,root_path,class:"navbar-brand"%>
      <p class='text'>Interview Experiences</p>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    <ul class="nav navbar-nav navbar-right navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          See Experiences
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Internship", intern_path,class: "dropdown-item text-dark"%>
          <%= link_to "Placement", placements_path,class: "dropdown-item text-dark"%>
        </div>
      </li>
      <li>
        <%= link_to "All Companies" ,companies_path %>
      </li>
      <%if !logged_in?%>
        <li>
          <%=link_to "Log In" ,login_path%>
        </li>
        <%else%>
          <li>
            <%=link_to "Logout" ,logout_path,method: :delete%>
          </li>
          <%end%>
            <%if logged_in?%>
              <li>
                <%= link_to current_user.name,user_path(current_user.id) %>
              </li>
              <li>
                <%= link_to "Share Your Experience" ,new_experience_path,class:"btn btn-warning"%>
              </li>
              <% if current_user.admin?%>
                  <li>
                   <%= link_to "Add a company" ,new_company_path,class:"btn btn-info"%>
                  </li>
                   <% if pending_approvals!=0%>
                  <div class="num text-center">
                    <%= pending_approvals%>
                  </div>
              <%end %>
                <%end%>
           <%end%>
    </ul>
  </div>
  </div>
</nav>